<div class="jumbotron">
  <h1>Ember Rails Chat</h1>
  <div class="row">
    <button type="button" class="btn btn-primary btn-lg" name="button">Link to Entertainment</button>
    <button type="button" class="btn btn-success btn-lg" name="button">Link to Politics</button>
    <button type="button" class="btn btn-info btn-lg" name="button">Link to Sports</button>
    <button type="button" class="btn btn-warning btn-lg" name="button">Link to Random</button>
  </div>
</div>
